@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
    font-family: 'Poppins';
}
header .container{
    width: 100%;
   background-color:rgb(245, 226, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header nav a {
    text-decoration: none;
    margin: 20px;
    color: rgb(116, 7, 116);
}
ul{
    list-style: none;
    display: flex;
}
#cadastro{  
 width: 1000px;
 background-color: white;
 justify-content: center;
 margin-left: 300px;
  margin-top: 200PX;
 border-radius: 40px;
 box-shadow: 5px 5px 15px 10px rgb(116, 116, 116);
 border: solid #8E2DE2;
}
form legend{
    text-align: center;
}
/*estou chamando a "sessão" (informações para contato*/
#form1{
    margin-top: 30px;
    margin-left: 10px;
}
/*estou chamando a "sessão" outras informações*/
#form2{
    margin-top: 30px;
    margin-left: 10px;
}
#form3{
    margin-top: 30px;
    margin-left: 10px;
}
button{
    width: 100px;
    height: 50px;
    background-color: purple;
    margin-top: 30px;
    border-radius: 30px;
}
#enviar{
    width: 100px;
    height: 50px;
    background-color: purple;
    margin-top: 30px;
    border-radius: 30px;
    color: aliceblue;
} 
footer{
    background-color:#8E2DE2;
}